/* globales*/
* {
  box-sizing: border-box;
}
body{
  margin: 0;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}

/* Registrarse */
.container{
  max-width: 768px;
  margin: 0 auto;
}

.titulo {
  background-color: RGB(0, 0, 220);
  font-family: verdana;
  font-style: italic;
  text-align: left;
  color: white;
  width: 100%;
  height: 80px;
}
.barra{
  text-align: right;
}
li{
  float: right;
  padding: 10px;
  color: white;
}

.facebook {
  background-color: RGB(0, 0, 128);
  text-align: center;
  color: white;
}

@media(min-width: 768px){

}

@media(min-width: 992px){

}
