/*------------------------GLOBALES------------------------*/
* {
  box-sizing: border-box;
}
body{
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #4DA193;
  font-family: verdana;
  font-style: serif;
  text-align: left;
  font-size: 20px;
}
ul {
  padding: 0;
}
li a {
  color: white;
}
.contenidocentro {
  width: 100%;
  height: 100%;
  padding-top: 10%;
}
/*------------Responsive Resolucion Smartphone-----------*/
}
@media(max-width: 320px){
  }

/*------------Responsive Resolucion Tablet---------------*/
@media(min-width: 768px){
  }

/*

/*---------------------BANNER - MENU---------------------*/
.banner {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  position:relative;
  background-color: #0B2161;
  width: 900px;
  height: 100px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}
.banner ul {
  position:relative;
  display: inline-block;
=======
=======
>>>>>>> a547d328e68c50b792cd6f8786173643678cfad1
  color: white;
float: right;
position: relative;
text-align: center;
background-color: rgba(255, 255, 255, 0.5);
width: 100vw;
padding: 0;
left: 20vw;
<<<<<<< HEAD
}
.banner ul {
  position:relative;
  padding: 1vh;
left: 44vw;
>>>>>>> a547d328e68c50b792cd6f8786173643678cfad1
=======
  color: white;
float: right;
position: relative;
text-align: center;
background-color: rgba(255, 255, 255, 0.5);
width: 100vw;
padding: 0;
left: 20vw;
=======
>>>>>>> a547d328e68c50b792cd6f8786173643678cfad1
}
.banner ul {
  position:relative;
  padding: 1vh;
left: 44vw;
<<<<<<< HEAD
>>>>>>> a547d328e68c50b792cd6f8786173643678cfad1
=======
>>>>>>> a547d328e68c50b792cd6f8786173643678cfad1
}
.banner li {
  float: left;
  position: relative;
}

.barra{
  text-align: right;
  float: right;
}
.logo {
  width: 30px;
  height: 30px;
}

/*       Sory! ya se que por ahi te movi algo, pero si vamos a usar tags generales como ul o body, etc, intentemos     ponerles class o id para que solo afecte el de su pagina, si no, de esta manera, estan afectando a uls y bodys de las otras paginas (y supongo que todos vamos moviendo los elemntos de distintas formas como vamos pudiendo jaja)
ul {
  margin-left: 28%;
  margin-right: 28%;
}
*/

/*------------------PREGUNTAS FRECUENTES------------------*/
.preguntasfrecuentes {
  background-image: url(../imagenes/background/puente.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  height: 100%;
}
.preguntas {
  color: white;
  margin-left: 20vw;
  background: rgba(0, 0, 128, 0.5);
}
.contenidocentropreguntas {
    width: 75%;
    padding-top: 20vh;
    padding-left: 25%;
}
#accordion {
  min-width: 5vw;
  text-align: center;
  margin-bottom: 20px;
}

/*---------------------ESPECIALIDADES---------------------*/
.especialidades {
  background-color: rgba(0,0,0,0.9);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
.letras{
  color: white;
}
h4 {
  color: white;
}

/*----------------------REGISTRARSE----------------------*/
.registrarse {

  background-color: white;
  min-height: 100vh;
  text-align: center;
  color: black;
  font-family: verdana;
  font-style: serif;
}

.tituloreg {
  margin-top: 100px;
  text-align: center;
  color: black;
  font-family: verdana;
  font-style: serif;
<<<<<<< HEAD
<<<<<<< HEAD
}
#playground-container {
    height: 500px;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
=======
=======
>>>>>>> a547d328e68c50b792cd6f8786173643678cfad1
}
#playground-container {
    height: 500px;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
}
.main{
 	margin:50px 15px;
<<<<<<< HEAD
}
h1.title {
	font-size: 50px;
	font-family: 'Passion One', cursive;
	font-weight: 400;
}
hr{
	width: 10%;
	color: #fff;
}
.form-group{
	margin-bottom: 15px;
}
label{
	margin-bottom: 15px;
}
input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}
=======
}
h1.title {
	font-size: 50px;
	font-family: 'Passion One', cursive;
	font-weight: 400;
}
hr{
	width: 10%;
	color: #fff;
}
.form-group{
	margin-bottom: 15px;
}
label{
	margin-bottom: 15px;
}
input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}
>>>>>>> a547d328e68c50b792cd6f8786173643678cfad1
.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.form-control {
    height: auto!important;
padding: 8px 12px !important;
}
.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}
#button {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    color: #666;
    text-shadow: 0 1px #fff;
    cursor: pointer;
    -moz-border-radius: 3px 3px;
    -webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
    -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    box-shadow: 0 1px #fff inset, 0 1px #ddd;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}
.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 400px;
  padding: 10px 40px;
	background-color:  rgba(255, 255, 255, 0.5);
  color: #FFF;
  text-shadow: none;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
 -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
 box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
 }
span.input-group-addon i {
    color: #009edf;
    font-size: 17px;
 }
.login-button{
	margin-top: 5px;
 }
.login-register{
	font-size: 11px;
	text-align: center;
 }

/*-------------------------LOGIN-------------------------*/
.loginbody {
  background-color: rgba(0,0,0,0.9);
>>>>>>> a547d328e68c50b792cd6f8786173643678cfad1
}
.main{
 	margin:50px 15px;
}
h1.title {
	font-size: 50px;
	font-family: 'Passion One', cursive;
	font-weight: 400;
}
hr{
	width: 10%;
	color: #fff;
}
.form-group{
	margin-bottom: 15px;
}
label{
	margin-bottom: 15px;
}
input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}
.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.form-control {
    height: auto!important;
padding: 8px 12px !important;
}
.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}
#button {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    color: #666;
    text-shadow: 0 1px #fff;
    cursor: pointer;
    -moz-border-radius: 3px 3px;
    -webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
    -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    box-shadow: 0 1px #fff inset, 0 1px #ddd;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}
.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 400px;
  padding: 10px 40px;
	background-color:  rgba(255, 255, 255, 0.5);
  color: #FFF;
  text-shadow: none;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
 -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
 box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
 }
span.input-group-addon i {
    color: #009edf;
    font-size: 17px;
 }
.login-button{
	margin-top: 5px;
 }
.login-register{
	font-size: 11px;
	text-align: center;
 }

/*-------------------------LOGIN-------------------------*/
.loginbody {
  background-color: white;
}

.login {
  text-align: center;
  color: black;
  margin-bottom: 30px;
}

/*------------------------FOOTER------------------------*/

.footer {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  bottom: 0 ;
  width: 100%;
  height: 120px;
  position: relative;
  margin-top: 20%;
  left: 0;
}
.icon_footer {
  height: 80px;
}
.txt_footer {
  color: white;
}
